@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i|Lexend+Deca&display=swap');
/* #### Mobile Phones Portrait #### */

/* .page-div {
    padding: 8px;
    position:fixed;
    top:0px;
    left:0px;
    height:100%;

    overflow-x: hidden;
    
    Fallback if gradeints don't work
    background: #d2dde3;
    
    Linear gradient...
    background: 
      radial-gradient(
       at center, #fbbebd, #e9513c
      );
} */

.page-div {
    padding: 8px;
    /* position:fixed; */
    top:0px;
    left:0px;
    height:100%;

    overflow-x: hidden;
    
    background: linear-gradient(197deg, #ffffff, #dbdbdb, #e3e3e3, #28ceff, #48d5ff, #ffffff, #2bced7, #1a6aee, #dfdfdf);
    background-size: 1800% 1800%;
    
    -webkit-animation: AnimationName 50s ease infinite;
    -moz-animation: AnimationName 50s ease infinite;
    animation: AnimationName 50s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:39% 0%}
    50%{background-position:62% 100%}
    100%{background-position:39% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:39% 0%}
    50%{background-position:62% 100%}
    100%{background-position:39% 0%}
}
@keyframes AnimationName {
    0%{background-position:39% 0%}
    50%{background-position:62% 100%}
    100%{background-position:39% 0%}
}

@-webkit-keyframes AnimationName {
    0%{background-position:39% 0%}
    50%{background-position:62% 100%}
    100%{background-position:39% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:39% 0%}
    50%{background-position:62% 100%}
    100%{background-position:39% 0%}
}
@keyframes AnimationName {
    0%{background-position:39% 0%}
    50%{background-position:62% 100%}
    100%{background-position:39% 0%}
}

body {
    margin: 0;
}

#splash2 {
    display: none;
}

#splash1 {
    display: none;
}

#splash3 {
    /* display: none; */
}

h1 {
    font-family: 'CircularSd-Bold', Arial, Helvetica, sans-serif;
    font-size: 25.5vw;
    margin: 0;
}

h2 {
    font-family: 'CircularSd-Bold', Arial, Helvetica, sans-serif;
    font-size: 4vw;
    margin: 0;
}

h3 {
    font-family: 'CircularSd-Bold', Arial, Helvetica, sans-serif;
    font-size: 3vw;
    margin: 0;
    color: rgb(110, 110, 110);
}

p {
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

label {
    font-family: 'CircularSd-Bold', Arial, Helvetica, sans-serif;
}

.version-header-row {
    text-align: center;
}

.logo-row {
    width: 130px;
    margin: 0 auto;
}

.logo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.image-caption {
    font-family: 'DM Serif Display';
    font-style: italic;
    color: rgb(110, 110, 110);
}

select {
    cursor: pointer;
    font-family: 'CircularSd-Bold', Arial, Helvetica, sans-serif;
    /* font-size: 45vw; */
    margin: 0 auto;
}

.version-link {
    font-size: 40vw;
    text-decoration: none !important;
    color: gray;
    line-height: 40px;
    /* height: 35px; */
}

.version-link:hover {
    font-size: 40vw;
    text-decoration: none !important;
    color: rgb(50, 140, 241);
}

.cover {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "CircularSd-Bold";
    src: url("media/CircularStd-Bold.otf");
}
.credit {
    text-align: center;
}

/*     
    font-family: 'DM Serif Display', ;  sans-serif
    font-family: 'Lexend Deca', ; serif
    */

    @media screen and (max-device-width: 480px) {
        body {
            /* background-color: green; */
        }

        h2 {
            font-size: 5vw;
        }
        
        h3 {
            font-size: 6vw;
        }

        p {
            font-size: 15px;
        }
    }
    
    /* #### Tablets Portrait or Landscape #### */
    
    @media screen and (min-device-width: 480px) and (max-device-width: 1024px) {
        body {
            /* background-color: red; */
        }
    }
    
    /* #### Desktops #### */
    
    @media screen and (min-width: 1024px) {
        body {
            /* background-color: blue; */
        }
        .body-container{
            flex-wrap: wrap;
            margin: auto;
            max-width: 1188px;
            min-width: 1020px;
        }
    
        h1 {
            font-family: 'CircularSd-Bold', Arial, Helvetica, sans-serif;
            font-size: 15vw;
            margin: 0;
        }
    }